#foto {
    border-radius: 15% 10% 50% 10%;
    margin-left: 4%;
}
.inicio {
    display: flex;
    width:1500px;
    height:300px;
    background: cadetblue;
    color: rgb(238, 245, 243);
    align-items: center;
    justify-content:center;
    transition: 0.5s;
    font-style: italic;
}
#nome {
    color: white;
    background-color:cadetblue ;
    text-align:center;
}
body {
    display: block;
    background-color: rgb(215, 247, 234);
    font-family: sans-serif;
    font-size: 20px;
    color: grey;
    margin-top: 7%;
    background-clip: padding-box;
}
.icon{
    display: inline-flex;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon a{
    display: inline-flex;
    width:50px;
    height:50px;
    background: cadetblue;
    color: white;
    margin: 0.3px;
    border-radius: 50%;
    align-items: center;
    justify-content:center;
    transition: 0.5s;



}